{% load i18n %}

{% if demand %}
     <h3><a href="{% url red.views.demand demand.slug %}">{{ demand.name }}</a></h3>
  <div class="demand">
      <span class="demand_date">{{ demand.date }}</span>
      <p>{{ demand.description }}</p>
      <div class="demand_tags">
      {% for tag in demand.tags.all %}
          <span class="demand_tag">{{ tag }}</span>
      {% endfor %}
	  {% if delete %}
		  <a href="{% url red.views.delete_demand demand.slug %}">{% trans "Delete" %}</a>

	  {% endif %}
      </div>
  </div>
{% else %}
  <p>{% trans "We didn't found the demand that you were looking for." %}</p>
{% endif %}
