{% load i18n %}

{% if gift %}
  <div class="gift">
      <span class="gift_date">{{ gift.date }}</span>
      <p>{{ gift.description }}</p>
      {% if gift.communal %}
        <p class="communal">{% trans "Communal" %}</p>
      {% endif %}
      <ul class="tag_list">
      {% for tag in loan.tags.all %}
        <li>{{ tag.name }}</li>
      {% endfor %}
      {% if user.is_authenticated %}
            <a href="{% url apps.red.views.delete_offer offer.slug %}">{% trans "Delete" %}</a>
      {% endif %}
      </ul>
  </div>
{% else %}
{% endif %}
{% load i18n %}

{% if gift %}
{% else %}
{% endif %}
