{% load i18n %}
{% if loan %}
  <div class="loan">
      <span class="loan_date"><b>{% trans "Date" %}     : </b> {{ loan.date }}</span>
      <p><b>{% trans "Description" %}                   : </b> {{ loan.description }}</p>
      <p><b>{% trans "Owner" %}                         : </b> {{ loan.owner.username }}</p>
      <span class="loan_status"><b>{% trans "Status" %} : </b> {{ loan.status_for_humans}}</span>
      <ul class="tag_list"><b>{% trans "Tags"%}         : </b>

      {% for tag in loan.tags.all %}
        <li>{{ tag.name }}</li>
      {% endfor %}
      {% if user.is_authenticated and user.username == loan.owner.username %}
            <a href="{% url apps.red.views.delete_offer offer.slug %}">{% trans "Delete" %}</a>
      {% endif %}
      </ul>
  </div>
{% else %}
{% endif %}
