{% load i18n %}

<form action="/accounts/login/" method="post">
  {% csrf_token %}
  <table>
  <tr>
      <td>{{ login_form.username.label_tag }}</td>
      <td>{{ login_form.username }}</td>
  </tr>
  <tr>
      <td>{{ login_form.password.label_tag }}</td>
      <td>{{ login_form.password }}</td>
  </tr>
  </table>
  <p><a href="{% url 'auth_password_reset' %}">{% trans "Forgot" %}</a>{% trans "your password?" %}  <a href="{% url 'registration_register' %}">{% trans "Need an account?" %}</a></p>
  <input type="hidden" name="next" value="/" />
  <input type="submit" value="Submit" />
</form>
