{% load i18n %}
<!doctype html>
<head>
  <meta charset="utf-8">

  <title>{% block title %}{% trans "Mutualism" %}{% endblock title %}</title>
  <!--<meta name="description" content="">-->

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% block extra_head %}
  {% endblock %}

  <link type="text/css" href="/statics/css/style.css" rel="stylesheet" />
  <link type="text/css" href="/statics/css/smoothness/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
  <link type="text/css" href="/statics/css/bootstrap.css" rel="stylesheet" />
  {% block css %}
  {% endblock %}
</head>

<body>
	
    <!-- Navigation bar --!>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Mutualismo</a>
          <div class="nav-collapse">
            <ul class="nav">
			  <li class="active"><a href="{% url dashboard %}">Dashboard</a></li>
			  <li><a href="{% url about %}">About</a></li>
              <li><a href="{% url contact %}">Contact</a></li>
              <li><a href="/search">Search</a></li>
            </ul>
            {% if user.is_authenticated %}
                <p class="navbar-text pull-right">{% trans "Logged in as" %} <a href="#">{{ user.username }}</a> <a href="{% url auth_logout %}">{% trans "Logout" %}</a></p>
            {% else %}
                <p class="navbar-text pull-right"><a href="{% url auth_login %}">{% trans "Sign in" %}</a></p>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!-- Feedback button --!>
    <div id="feedback"><a href="{% url contact %}">feedback</a></div>

  <section id="content">
    <div role="main" id="main" class="small">
      {% block main %}
      {% endblock %}
    </div>
  </section>
  <footer>
    {% block extra_footer %}
    {% endblock %}
  </footer>
  <!-- JavaScript at the bottom for fast page loading -->
  <!-- WARNING! jQuery has to be placed in the first place since the other scripts
                depend on the availability of jQuery. --!>
  <script type="text/javascript" src="/statics/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/statics/js/jquery-ui-1.8.17.custom.min.js"></script>
  <script type="text/javascript" src="/statics/js/less_grid.js"></script>
  <script>
	$(function() {
	  $( "#accordion" ).accordion({
	  	event: "mouseover",animated: 'bounceslide'
	  });
	});
  </script>
    <script>
  	$(function() {
  	  $( "#accordion2" ).accordion({
  	  	event: "mouseover",animated: 'bounceslide'
  	  });
  	});
  </script>
  {% block javascripts %}
  {% endblock %}
</body>
</html>
