{% load i18n %}
<!doctype html>
<head>
  <meta charset="utf-8">

  <title>{% block title %}{% trans "Mutualism" %}{% endblock title %}</title>
  <!--<meta name="description" content="">-->

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% block extra_head %}
  {% endblock %}

  <link type="text/css" href="/statics/css/style.css" rel="stylesheet" />
  <link type="text/css" href="/statics/css/smoothness/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
  <link type="text/css" href="/statics/css/bootstrap.css" rel="stylesheet" />
  {% block css %}
  {% endblock %}
</head>

<body>
	
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Mutualismo</a>
          <div class="nav-collapse">
            <ul class="nav">
				<li class="active"><a href="/">Home</a></li>
			  <li><a href="{% url about %}">About</a></li>
			  <li><a href="{% url dashboard %}">Dashboard</a></li>
              <li><a href="{% url contact %}">Contact</a></li>
            </ul>
            <!--TODO-->
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  <section id="content">
    <div role="main" id="main" class="small">
      {% block main %}
      {% endblock %}
    </div>
    <aside class="small">
    <h2><a href="/">{% block header_title %}{% trans "Mutualism" %}{% endblock header_title %}</a></h2>
    {% block extra_header %}
    {% endblock %}
    <h3>{% trans "Network for exchanging goods and services based on mutualism." %}</h3>

        {% block aside %}
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis 
et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem 
quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores 
eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum 
quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi 
tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad 
minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, 
nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit 
qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui 
dolorem eum fugiat quo voluptas nulla pariatur?
        </p>
        {% endblock %}
    </aside>
  </section>
  <footer>
    {% block extra_footer %}
    {% endblock %}
  </footer>
  <!-- JavaScript at the bottom for fast page loading -->
  <!-- WARNING! jQuery has to be placed in the first place since the other scripts
                depend on the availability of jQuery. --!>
  <script type="text/javascript" src="/statics/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/statics/js/jquery-ui-1.8.17.custom.min.js"></script>
  <script type="text/javascript" src="/statics/js/less_grid.js"></script>
  <script>
	$(function() {
	  $( "#accordion" ).accordion({
	  	event: "mouseover",animated: 'bounceslide'
	  });
	});
</script>
  <script>
	$(function() {
	  $( "#accordion2" ).accordion({
	  	event: "mouseover",animated: 'bounceslide'
	  });
	});
</script>


  {% block javascripts %}
  {% endblock %}
</body>
</html>
