{% load i18n %}
{% load base_extras %}
<!doctype html>
<head>
  <meta charset="utf-8">

  <title>{% block title %}{% trans "Mutualism" %}{% endblock title %}</title>
  <!--<meta name="description" content="">-->

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% block extra_head %}
  {% endblock %}

  <link type="text/css" href="/statics/css/style.css" rel="stylesheet" />
  <link type="text/css" href="/statics/css/smoothness/jquery-ui-1.8.17.custom.css" rel="stylesheet" />
  <link type="text/css" href="/statics/css/bootstrap.css" rel="stylesheet" />
  {% block css %}
  {% endblock %}
</head>

<body>
  {% include "navigation.html" %}

    <!-- Feedback button --!>
    <div id="feedback"><a href="{% url contact %}">feedback</a></div>

  <section id="content">
    <div role="main" id="main" class="small">
      {% block main %}
      {% endblock %}
    </div>
  </section>
  <footer>
    {% block extra_footer %}
    {% endblock %}
  </footer>
  <!-- JavaScript at the bottom for fast page loading -->
  <!-- WARNING! jQuery has to be placed in the first place since the other scripts
                depend on the availability of jQuery. --!>
  <script type="text/javascript" src="/statics/js/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/statics/js/jquery-ui-1.8.17.custom.min.js"></script>
  <script type="text/javascript" src="/statics/js/less_grid.js"></script>

  <script>
	$(function() {
	  $( "#accordion" ).accordion({
	  	event: "mouseover"
	  });
	});
</script>

  <script>
	$(function() {
	  $( "#accordion2" ).accordion({
	  	event: "mouseover"
	  });
	});
</script>

  {% block javascripts %}
  {% endblock %}
</body>
</html>
