{% extends "base.html" %}

{% load i18n %}

{% block main %}
  <div id="index-main">
  <div id="last_offers">
    <h3 class="large">{% trans "Latest offers" %}</h3>
    <div id="accordion">
	  {% for offer in latest_offers %}
		  {% include "includes/offer.html" %}
	  {% endfor %}
    </div> 
  </div> 
  <hr>
  <div id="last_demands">
	<h3 class="large">{% trans "Latest demands" %}</h3>
    <div id="accordion2">
	  {% for demand in latest_demands %}
		  {% include "includes/demand.html" %}
	  {% endfor %}
    </div>
  </div>
  </div>
  {% if user.is_authenticated %}
      <!--TODO-->
      <!--valuable information and common actions for the user-->
  {% else %}
  <div id="login-right" valign:"top">
      {% include "includes/login_form.html" %}
      {% include "includes/registration_form.html" %}
  <div id="stat-table">
	  {% include "includes/stats.html" %}
  </div> 
  </div> 
  {% endif %}
{% endblock main %}
{% block javascripts %}
  <script>
	$(function() {
	  $( "#accordion" ).accordion({
	  	event: "mouseover"
	  });
	});
</script>

  <script>
	$(function() {
	  $( "#accordion2" ).accordion({
	  	event: "mouseover"
	  });
	});
</script>
{% endblock javascripts %}
