    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Mutualismo</a>
          <div class="nav-collapse">
            <ul class="nav">
				<li id="menu"><a href="/">Home</a></li>
				<li><a id="menu" href="{% url about %}">About</a></li>
			  <li><a href="{% url dashboard %}">Dashboard</a></li>
              <li><a href="{% url contact %}">Contact</a></li>
            </ul>
            <!--TODO-->
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
