<!doctype html>
<head>
  <meta charset="utf-8">

  <title>Mutualismo</title>
  <!--<meta name="description" content="">-->

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!--<link rel="stylesheet" href="css/style.css">-->
  {% block extra_head %}
  {% endblock %}
</head>

<body>
  <header>
  {% block extra_header %}
  {% endblock %}

  </header>
  <div role="main">
  {% block main %}
  {% endblock %}
  </div>
  <footer>
  {% block extra_footer %}
  {% endblock %}
  </footer>
  <!-- JavaScript at the bottom for fast page loading -->
  <!-- TODO -->
  <!-- end scripts -->
</body>
</html>
