<!doctype html>
<head>
  <meta charset="utf-8">

  <title>Mutualismo</title>
  <!--<meta name="description" content="">-->

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!--<link rel="stylesheet" href="css/style.css">-->
  {% block extra_head %}
  {% endblock %}
</head>

<body>
  <header>
    <h1>Mutualismo</h1>
    <h2>Red de intercambio de bienes y servicios basada en el mutualismo.</h2>
    {% block extra_header %}
    {% endblock %}
  </header>
  <nav>
    {% block nav %}
    {% endblock %}
  </nav>
  <div role="main" id="main">
    {% block main %}
    {% endblock %}
  </div>
  <footer>
    {% block extra_footer %}
    {% endblock %}
  </footer>
  <!-- JavaScript at the bottom for fast page loading -->
  <!-- TODO -->
  <!-- end scripts -->
</body>
</html>
