{% extends "base.html" %}

{% load i18n %}

{% block main %}
    <h3>{% blocktrans %}Hello {{ username }}{% endblocktrans %}</h3>
    <section id="user_control_panel">
      <ul>
          <li><a href="/create/demand">{% trans "New demand" %}</a></li>
          <li><a href="/create/service">{% trans "New service" %}</a></li>
      </ul>
    </section>
    <section id="user_trades">
      <h4>{% trans "Your offers" %}</h4>
      {% for offer in offers %}
          {% include "includes/offer.html" %}
          <a href="{% url red.views.delete_offer offer.slug %}">{% trans "Delete" %}</a>
      {% endfor %}
      <h4>{% trans "Your demands" %}</h4>
      {% for demand in demands %}
          {% include "includes/demand.html" %}
          <a href="{% url red.views.delete_demand demand.slug %}">{% trans "Delete" %}</a>
      {% endfor %}
    </section>
{% endblock %}
